@import '../../styles/exports';

.span-host {
  color: $gray-900;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  vertical-align: middle;
  -webkit-font-smoothing: auto;
}
