@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

html, body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  overscroll-behavior-y: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

* {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  font-family: 'Noto Sans KR','Apple SD Gothic Neo',Sans-serif;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
}
